<a href="https://colab.research.google.com/github/charlieknottt/AI-country-readiness/blob/main/Set_builders_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

In [2]:
{x**2 for x in range(9) if x >=3 }

{9, 16, 25, 36, 49, 64}

# Write a set builder that find elements of $\mathbb{N}$ smaller 50 than not divisible by 2,3 or 5:

In [ ]:
#write a test for divisibility of a single number by 3
x = 6

True

In [ ]:
x = 30
#test whether x is not divisible by all of 2, 3, and 5
((x % 2) == 0) and ((x % 3) == 0) and ((x % 5) == 0)

True

In [ ]:
#write the final set builder
{x for x in range(50) if not(((x % 2) == 0) or ((x % 3) == 0) or ((x % 5) == 0))}

{1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49}

In [ ]:
#write a function returning the subset of the set "numbers" which are not divisible by 2, 3, or 5
def not_divisible_235(numbers):
  return {x for x in numbers if not(((x % 2) == 0) or ((x % 3) == 0) or ((x % 5) == 0))}

In [ ]:
numbers = {43574389, 3457, 2,7,89, 25, 49}
not_divisible_235(numbers)

{7, 49, 89, 3457, 43574389}

Set complement

In [ ]:
U = range(50)
S = {x*2 for x in range(25)}

#write a set builder to compute the complement of S
S_bar = {x for x in U if x not in S}

In [ ]:
print(S_bar)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49}

Set product

In [ ]:
S = {1, 2, 3, 4}
T = {'a', 'b', 'c'}

#write code to compute the set product of S x T
product = {(x, y) for x in S for y in T}
print(product)

{(1, 'b'), (4, 'c'), (2, 'a'), (3, 'a'), (1, 'a'), (2, 'c'), (4, 'b'), (3, 'c'), (2, 'b'), (1, 'c'), (3, 'b'), (4, 'a')}

In [ ]:
#filter the product to contain only elements where the first entry of the tuple is even

#{(x, y) for x in S for y in T if x %2 == 0}
#{(x,y) for x,y in product if x % 2 == 0}

{(x, y) for x in S for y in set()}

set()

Creating sets of tuples with multiple loops

In [ ]:
{x+y  for x in range(5) for y in range(7) if x>1}

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#write a set containing all nonnegative integers x, y >= 0 where x^2 + y is <= 10 and y^2 + x > 5
{(x,y) for x in range(11) for y in range(11) if x**2 + y <= 10 and y**2 + x > 5}

{(0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 10),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6)}

$\{(x, y) \in Z_+^2 | x^2 + y \leq 10, y^2 + x > 5\}$

$Z_+ \times Z_+$ $R^2$ $R^n$

# Exercises

1. Consider the ceiling function $f(x) = \lceil x\rceil$. For any real number, $f(x)$ rounds $x$ up to the nearest whole number. Write a mathematical description of the type of function $f$.

$f: R \to Z$


2. Write python code which implements ceiling as a lambda function.

f = lambda x: int(x) + 1 if x != int(x) else int(x)

3. Consider a function $g$ that takes as input any function $f$ and returns a new function which applies ceiling to $f$. Write a mathematical description of the type of function $g$.

$(R \to R) \to (R \to Z)$